:root {
    --color-bg: #F7F1E3;
    --color-bg-secondary: #E8DCC4;

    --color-primary: #596B3A;
    --color-primary-dark: #34452A;

    --color-accent: #B85C38;
    --color-highlight: #D9A441;

    --color-text: #29251F;
    --color-text-secondary: #6B6256;

    --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.10);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.15);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: var(--color-bg);
    font-family: 'Nunito', sans-serif;
}

header {
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
    background-color: var(--color-bg-secondary);
    box-shadow: var(--shadow-md);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100% - 2rem, 1400px);
    padding: 8px 0;
    margin: 0 auto;

    a {
        color: var(--color-text);
    }

    .brand {
        display: flex;
        align-items: center;
        gap: 10px;

        .logo {
            height: 45px;
            background-color: var(--color-bg);
            border-radius: 100%;
        }

        .brand-info {
            display: flex;
            flex-direction: column;

            .brand-name {
                font-weight: 700;
            }

            .brand-slogan {
                font-size: 0.8rem;
            }
        }
    }

    nav ul {
        display: flex;
        gap: 20px;

        a {
            img { height: 20px; }

            display: flex;
            gap: 5px;
            align-items: center;
            padding: 8px 20px;
            border-radius: 50px;
            box-shadow:  var(--shadow-sm);
            background-color: var(--color-bg);

            &:hover {
                background-color: var(--color-highlight);
                color: var(--color-bg);
            }
        }
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 50px;
    box-shadow: var(--shadow-md);

    &:hover {
        background-color: var(--color-highlight);
        color: var(--color-bg);
    }
}

.button-primary {
    background-color: var(--color-accent);
    color: var(--color-bg);
}

.button-secondary {
    background-color: var(--color-bg);
    color: var(--color-text-secondary);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: min(100% - 2rem, 1400px);
    margin: 20px auto;
    padding: 10px;
    gap: 20px;
    background-color: var(--color-bg-secondary);
    box-shadow: var(--shadow-md);
    border-radius: 50px;

    .hero-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;

        h1 {
            color: var(--color-text);
            font-size: clamp(2.5rem, 5vw, 3rem);
            line-height: 1.05;
            letter-spacing: -1px;

            span {
                color: var(--color-accent);
            }
        }

        .hero-description {
            line-height: 1.5;
        }

        .hero-actions {
            display: flex;
            gap: 20px;
        }  
    }

    img {
        max-width: 55%;
        height: auto;
        box-shadow: var(--shadow-md);
        border-radius: 40px;
    }
}